<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link href="css/skeleton.css" rel="stylesheet" type="text/css"/>
        <link href="css/normalize.css" rel="stylesheet" type="text/css"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <head>
      <header>
  

      </header>
    </head>
